body {
    background-image: url(../src/outside.png) !important;
    font-family: 'Black Ops One', cursive !important;
}

img {
    width: 40px;
}
/* 
button {
    margin-top: 30px;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 60px;
    border: 1px solid #852905;
    font-family: 'Bitter', serif;
    color: white;
    background: linear-gradient(to bottom, #8a0f0f, #071633);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
} */

.min-width {
    min-width: 600px !important;
}

#canvas {
    background-image: url(../src/inside.png);
}

#end {
    margin-top: 80px;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    color: white;
    background-color: #08162e;
    border: 2px solid #5f190c;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}